@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;

}
body{
    overflow-x: hidden;
    background: linear-gradient(to top, #ebebeb, #ffffff);
}
ul{
    list-style-type: none;
}
a{
    color: #215BAA;
    text-decoration: none;
}

header{
    background: #fcfcfc;
    display: flex;
    width: 100%;
    height: fit-content;
    padding: .55rem ;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 1;
}
header:hover{
    padding: .75rem 0.75rem;
    transition: all 0.3s ease 0s;
}
header a{
    margin-right: auto;
}

#header-logo{
    width: 5rem;
    image-rendering:optimizeQuality;
    margin:0 3%;
}

#header-links{
    margin:0 3%;
    display: flex;
    gap: .8rem;
}

.header-link{
    color: #0c0c0c;
    transition: all 0.3s ease 0s;
}
.header-link:hover{
    font-weight: bold;
    color: #215BAA;
    border: solid;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    padding: .3rem;
    border-width: 1.5px;
}

.btn{
    padding: 9px 25px;
    background-color: #215BAA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    width: fit-content;
}
.btn:hover{
    font-weight: bold;
    background-color: #215aaabb;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bloco{
    height: 100%;
    width: 100%;
    display: flex;
  
}
.sides{
    width: 50%;
    height: 100%;
    display: flex;
}