#landing{
   display: flex;
   background-image: url('../Assets/FundoRedutor.png');
   background-size: cover;
   background-repeat: no-repeat;
}

/* Esquerda */
#texto{
    color: aliceblue;
    padding: 3%;
    margin: 10% auto;
    flex-direction: column;
    gap: 5rem;
    text-shadow: 1px 5px 15px black;
}
#intermaq{
    font-size: xxx-large;
}
.info{
    flex-direction: column;
    gap: 1em;
}
.social-media{
    max-width: 30px;
}
.social-media:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.3s ease 0s;
}
/* Direita */
.side-content{
    color: aliceblue;
    padding: 3%;
    flex-direction: column;
    gap: 5rem;
}

#quadro{
    
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 3%;
}
#quadro img{
    border-radius: 20px;
}
#produtos{
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3%;
    justify-content: center;
}
