#landing{
   display: flex;
   background-image: url('../Assets/FundoRedutor.png');
   background-size: cover;
   background-repeat: no-repeat;
}

/* Esquerda */
#texto{
    color: aliceblue;
    padding: 3%;
    margin: 10% auto;
    flex-direction: column;
    gap: 5rem;
    text-shadow: 1px 5px 15px black;
}
#intermaq{
    font-size: xxx-large;
}
.info{
    flex-direction: column;
    gap: 1em;
}
.social-media{
    max-width: 30px;
}
.social-media:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.3s ease 0s;
}
/* Direita */
.side-content{
    color: aliceblue;
    padding: 3%;
    flex-direction: column;
    gap: 5rem;
}

#quadro{
    
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 3%;
}
#quadro img{
    border-radius: 20px;
}
#produtos{
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3%;
    justify-content: center;
}
#sobre-nos{
    display: flex;
    flex-direction: column;
}
.sobre-nos-title{
    margin-top: 2%;
    position: absolute;
    width: 50%;
    color: ivory;
    background: #F13433;
    padding: 1% 3%;

}
.sobre-nos-wrapper{
    margin: 10% 0;
   
}
.sobre-nos-content{
    width: 50%;
    font-size: large;
    height: fit-content;
    background: ivory;
    
}
.sobre-nos-bg{
    position: absolute;
    z-index: -10;
}
.sobre-nos-content p {
    padding: 3% 10%;
}
.sobre-nos-content .btn {
    margin: 1% 8%;
    background: rgba(0, 0, 0, 0);
    color: #215BAA;
    border: solid;
    border-color: #215BAA;
}

.sobre-nos-content .btn{
    background-image: linear-gradient(#215BAA, #215BAA);
    padding: 2%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: left;
    transition: 500ms;
    left: 15px;
    bottom:15px;
   

}
.sobre-nos-content .btn:hover{
    background-size: 100% 100%;
    color: ivory;
}

.sobre-nos-bg img{
    width: 60%;
    margin-left: 40%;
    
}

.sobre-nos-second{
    margin-top: 10%;
    padding: 3%;

}
